<footer>
  <div class="social">
    <a href="https://fi-fi.facebook.com/oulangankansallispuisto" class="fab fa-facebook-f" target="_blank"></a>
    <a href="#" class="fab fa-twitter"></a>
    <a href="https://www.youtube.com/watch?v=NH0t-Lueoi0" class="fab fa-youtube" target="_blank"></a>
  </div>
</footer>
<!-- <script src="/js/client.js"></script> -->
</body>

</html>