@import url("https://fonts.googleapis.com/css?family=Raleway:300,400");

@import url("https://fonts.googleapis.com/css?family=Montserrat:300,400,500,700,900");

* {
  box-sizing: border-box;
  font-family: Montserrat, sans-serif;
}

body,
html {
  margin: 0;
  padding: 0;
  background-color: #eae7dc;
}

/* Header, Home page and Footer */

.big-image {
  background-image: url("/images/header-image.jpg");
  min-height: 480px;

  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  position: relative;
}

.topnav a {
  float: right;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 25px;
  text-decoration: none;
  font-size: 1.25em;
  font-weight: bold;
  margin-top: 20px;
  width: auto;
}

.topnav a:hover {
  background-color: #ddd;
  color: #333;
}

.top-location-title {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  font-size: 4em;
  font-weight: bold;
}

.middle {
  max-width: 1200px;
  position: relative;
  margin: auto;
}

.grid-container {
  padding-top: 20px;
  display: grid;
  max-height: 50%;
  min-height: 30%;

  grid-template-columns: 1fr;
  grid-template-rows: repeat(7, 1fr);

  grid-template-areas:
    "one"
    "three"
    "two" 
    "four"
    "five"
    "six" 
    "seven";

    grid-row-gap: 10px;  
}

.grid-item-title {
  color: #333;
  font-size: 2em;
  font-weight: bold;
  padding: 20px 20px;
}

.grid-item-text {
  color: white;
  font-size: 16px;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 20px;
}

.item-1 {
  background: url(/images/park-bridge-cabin.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  position: relative;

  grid-area: one;
}
.item-2 {
  background: url(/images/park-steps.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  position: relative;

  grid-area: two;
}
.item-3 {
  background-color: #d8c3a5;
  grid-area: three;
}
.item-4 {
  background-color: #d8c3a5;
  grid-area: four;
}
.item-5 {
  background: url(/images/park-cabin-next-to-river.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  position: relative;
  grid-area: five;
}
.item-6 {
  background-color: #d8c3a5;
  grid-area: six;
}
.item-7 {
  background: url(/images/park-white-water.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  position: relative;
  grid-area: seven;
}


hr.hr-style1 {
  background-color: #fff;
  border-top: 2px dashed #8c8b8b;
  margin: 0;
}


footer {
  display: flex;
  justify-content: center;
  text-align: center;
  background-color: rgb(227, 226, 223, 0.6);
}

.fab {
  padding: 30px;
  font-size: 30px;
  width: 20px;
  text-decoration: none;
  margin: 10px 2px;
  color: #3e474f;
}

.fab:hover {
  color: #666;
  text-decoration: none;
}


/* Image Slider */
/* Slideshow container */
.slideshow-container {
  max-width: 900px;
  position: relative;
  margin: auto;
  padding-top: 25px;
}

/* Hide the images by default */
.mySlides {
  display: none;
}

/* Next & previous buttons */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

/* Caption text */
.slideshow-text {
  color: white;
  font-size: 25px;
  font-weight: bold;
  padding: 30px 30px;
  position: absolute;
  /* bottom: 8px; */
  top: 20px;
  width: 100%;
  text-align: left;
}

.dots {
  text-align: center;
  padding-bottom: 25px;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 10px;
  width: 10px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active,
.dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}

@keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}

/* Compose Blog Post Page */

.compose-blog-title {
  margin: 0;
  padding-left: 100px;
  padding-top: 50px;
  font-size: 2em;
  color: #333;  
}

.compose-blog {
  border-radius: 5px;  
  padding: 10px 10px;
  height: 100vh;
}

.publish-input {
  width: 100%;
  padding: 10px;
  display: block;
}

.publish-form > label {
  display: block;
  padding-bottom: 10px;
  padding-top: 10px;
}

.publish-button {
  width: 100%;
  background-color: #4caf50;
  color: white;
  padding: 14px 20px;
  margin: 15px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 1em;
}

.publish-button:hover {
  background-color: #45a049;
}


/* Blog Page Layout */

.blog-page {
  height: 100vh;
}

.blog-page-title {
  margin: 0;
  padding-top: 50px;
  padding-bottom: 50px;
  text-align: center;
  font-size: 3em;
}

.blog-items {
  max-width: 1200px;
  position: relative;
  margin: auto;
}

.blog-item {
  /* margin-left: 100px;
  margin-right: 100px; */
  margin-bottom: 20px;
  padding: 5px 15px;
  font-size: 1em;
  background-color: #d8c3a5;
  border-radius: 5px;
  line-height: 1.5em;
  max-height: 20%;
  min-height: 10%;
}

.blog-title {
  color: #222;
  margin: 0;
  padding-top: 10px;
  padding-bottom: 10px;
}

.blog-content {
  color: #222;
  padding-bottom: 20px;
}

.comment-btn {
  background-color: DodgerBlue;
  border: none;
  color: white;
  /* padding: 12px 16px; */
  font-size: 12px;
  cursor: pointer;
  margin: 4px 0;
}

/* Darker background on mouse-over */
.comment-btn:hover {
  background-color: RoyalBlue;
}

button > .fa {
  padding: 0;
  font-size: 12px;
}


/* Commenting and showing comments page */

.commenting-page {
  height: 100vh;
}

.add-comment {
  display: block;
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 30px;
}

.show-comments {
  display: none;
}

.comment-text {
  display: block;
}

.submit-comment-btn {
  width: 100px;
  background-color: #4caf50;
  color: white;
  padding: 10px 15px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.submit-comment-btn:hover {
  background-color: #45a049;
}

.comment-title {
  text-align: center;
  color: #333;
}

.comment {
  margin-left: 10px;
  margin-right: 10px;
  padding: 15px 15px;
  color: #333;
  background-color: #eee;    
}

/* Layout for different screen sizes */

@media only screen and (min-width: 768px) {

  .top-location-title {
    font-size: 100px;
  }

  .grid-container {
    padding: 30px 30px;
    display: grid;
    max-height: 50%;
    min-height: 30%;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(5, 1fr);
  
    grid-template-areas:
      "one three"
      "four four"
      "five five"
      "six two"
      "seven seven";
  
    grid-gap: 10px;    
  }
  
  .grid-item-title {
    color: #333;
    font-size: 2em;
    font-weight: bold;
    padding: 20px 20px;
  }
  
  .grid-item-text {
    color: white;
    font-size: 16px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
  }

  .blog-item {
    margin-left: 50px;
    margin-right: 50px;
    margin-top: 10px;
  }

  .compose-blog {    
    padding: 15px 80px;    
  }

  .add-comment {    
    margin-left: 50px;
    margin-right: 50px;    
  }

  .comment {
    margin-left: 50px;
    margin-right: 50px;
  }
}


@media only screen and (min-width: 992px) {

  .top-location-title {
    font-size: 120px;
  }

  .grid-container {
    padding: 30px 30px;
    display: grid;
    max-height: 50%;
    min-height: 30%;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
  
    grid-template-areas:
      "one two three"
      "four five five"
      "four six seven";
  
    grid-gap: 20px; 
  }
  
  .grid-item-title {
    color: #333;
    font-size: 2em;
    font-weight: bold;
    padding: 20px 20px;
  }
  
  .grid-item-text {
    color: white;
    font-size: 16px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
  }

  .blog-item {
    margin-left: 100px;
    margin-right: 100px;
    margin-top: 20px;
  }

  .compose-blog {
    padding: 10px 100px;
  }

  .publish-button {
    font-size: 1.5em;
  }

  .add-comment {    
    margin-left: 100px;
    margin-right: 100px;  
  }

  .comment {
    margin-left: 100px;
    margin-right: 100px;
  }

} 
